:root {
    --white-color: #ffffff;
    --khaki-color: #4B5830;
    --khaki-dark-color: #282C21;
    --khaki-secondary-color: #92A173;
    --orange-color: #FF7542;
    --orange-light-color: #F67600;
    --beige-color: #E0D3B0;
    --orange-color: #ECB072;
    --black-color: #000000;
    --grey-color: #9F9F9F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 763px;
    position: relative;
    margin: auto;
    display: block;
    background-image: url('../project/public/img/background.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.navigation {
    width: 100%;
    height: auto;
    position: relative;
}

.navigation::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: 0px;
    left: 0;
    background-color: #ffffff;
}

.navigation__wrapper {
    width: 100%;
    max-width: 1440px;
    min-height: 99px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 18px;
    padding-left: 70px;
}

.navigation__link {
    margin-right: 100px;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding-top: 22px;
    padding-left: 10px;
}

.nav_column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}

.nav__link {
    list-style-type: none;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    margin-right: 19px;
    text-decoration: none;
}

.nav__link_light {
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
    font-weight: 400;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link:active {
    text-decoration: underline;
    opacity: 0.6;
}

.header__logo {
    display: block;
    margin: auto;
    margin-top: 63px;
}

.title {
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.header__title {
    font-family: 'Montserrat', sans-serif;
    width: 991px;
    font-size: 56px;
    line-height: 70px;
    letter-spacing: 0.03em;
    margin: auto;
    margin-top: 15px;
    color: var(--white-color);
}

.header__description {
    width: 542px;
    margin: auto;
    margin-top: 14px;
    color: var(--orange-color);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.header__button-box {
    width: 881px;
    margin: auto;
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 57px
}

.button {
    min-width: 413px;
    padding: 34px 0;
    text-align: center;
    background-color: #ffffff;
    color: var(--khaki-color);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
}

.main {
    width: 100%;
    margin: auto;
    max-width: 1440px;
}

.offer {
    margin: auto;
    padding-top: 66px;
}

.offer__title {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: var(--khaki-color);
    margin: 0;
    padding: 0;
    margin: auto;
}

.problem-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 66px;
    text-align: center;
    column-gap: 119px;

}

.problem-list__item {
    width: 280px;
}

.problem-list__img {
    text-align: center;
    width: 250px;
    height: 250px;
}

.problem-list__text {
    width: 100%;
    color: var(--khaki-color);
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.offer__descript {
    width: 1210px;
    margin: auto;
    margin-top: 66px;
    padding: 32px 25px 0;
    background-color: var(--khaki-color);
    opacity: 95%;
    border-radius: 20px;
    text-align: center;
}

.offer__title_white {
    white-space: pre-line;
    color: var(--white-color);
    line-height: 43.57px;
}

.offer__text {
    white-space: pre-line;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36.31px;
    margin-top: 30px;
    letter-spacing: 0.01em;
    margin-bottom: 30px;
    color: var(--white-color);
}

.offer__show-more {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: #BC5D05;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-decoration-line: underline;
    text-transform: uppercase;
    position: relative;
}

.offer__show-more::after {
    content: '';
    position: relative;
    display: block;
    left: 99px;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 42px 42px 40px;
    border-color: #BC5D05 transparent transparent transparent;
}

.achievements {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    list-style-type: none;
    padding: 67px 181px 0;
}

.achievements__number {
    color: var(--orange-light-color);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    line-height: 108px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.achievements__name {
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 200px;
    color: var(--khaki-color);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
}

.about-emillie {
    position: relative;
}

.about-emillie__image {
    position: absolute;
    top: -168px;
    left: 79px;
}

.about-emillie__description {
    width: 734px;
    padding: 30px 50px;
    background-color: #E4E4E4;
    opacity: 0.98;
    margin-left: auto;
    margin-top: 211px;
    margin-right: 77px;
}

.about-emillie__title {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: var(--khaki-color);
    margin-bottom: 20px;
    white-space: pre-line;
}

.about-emillie__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.02em;
    white-space: pre-line;
    color: #1E1F1B;
    margin-bottom: 35px;
}

.about-emillie__text:last-child {
    margin-bottom: 0;
}

.features {
    padding-top: 52px;
}



/* Footer */



.footer {
    width: 100%;
    background-color: var(--khaki-dark-color);
}

.footer__wrapper {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 24px 116px 18px 113px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__caption {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--orange-light-color);
}

.footer__caption_white {
    color: var(--white-color);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__nav-list {
    margin-top: 34px;
}

.footer__contacts-caption {
    margin-bottom: 12px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    color: var(--white-color);
    gap: 12px;
}

.contacts__link {
    color: var(--white-color);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 0;
    margin-top: 7px;
}

.contacts__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.02em;
    max-width: 350px;
    white-space: pre-line;
}

.social__link {
    color: transparent;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social__link:hover {
    opacity: .6;
}

.social__link:active {
    opacity: .6;
}

.privacy-plicy-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--orange-light-color);
    text-decoration: none;
}

.privacy-plicy-link:hover {
    text-decoration: underline;
}

.privacy-plicy-link:active {
    opacity: 0.6;
}

.copyright {
    background-color: var(--black-color);
    text-align: center;
    color: var(--grey-color);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 13px 0;
}
